<div style="text-align:center">
  <div class="container">
    <div class="row header">
      <div class="col-lg-12">
        <h1 style="color: rgb(255, 0, 0);">Muzix App</h1>
      </div>
    </div>
    <!-- <nav class="navbar navbar-dark bg-dark" style="background-color: #68b7f0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class ="navbar-toggle collapsed" data-toggle="collapse" data-target="bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li style="background-color: #ffffff;"><a [routerLink]="['/home']" >Home</a></li>
            <li style="background-color: #ffffff;"><a [routerLink]="['/myplaylist']" >Playlist</a></li>
            <li style="background-color: #ffffff;"><a [routerLink]="['/search']" >Search</a></li>     
          </ul>
        </div>
      </div>
    </nav> -->
    <nav class="navbar navbar-dark bg-dark" style="background-color: #68b7f0;">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
          <ul class="nav navbar-nav">
              <li style="background-color: #ffffff;"><a [routerLink]="['/home']" >Home</a></li>
              <li style="background-color: #ffffff;"><a [routerLink]="['/myplaylist']" >Playlist</a></li>
              <li style="background-color: #ffffff;"><a [routerLink]="['/search']" >Search</a></li>     
            </ul>
          
        </div>
      </nav>
    
  </div>
</div>

<br/>
<router-outlet>

</router-outlet>