<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" [routerLink]="['/home']">
    <img src="assets/images/music-quaver-flat.png" width="40" height="40" class="d-inline-block align-top" alt="App Logo">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/myplaylist']">Playlist</a>
      </li>
      <li class="nav-item">
      <div class="title">Muzix</div>
    </li>
    </ul>
    
    <app-search-track ></app-search-track>
</div>  
</nav>
