<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Muzix App</h1>
    <br><br><br>
    <p class="lead">Muzix is the one-stop solution for all your Music needs. Muzix offers you free, unlimited access to all your favorite Songs, Bollywood Music, Regional Music & Radio Mirchi - on your windows 10 desktop app.
    </p> <p class="lead">
      With our plethora of collection from New Songs to Old Classics, you can enjoy millions of Hindi, English*, Tamil, Telugu, Marathi, Kannada, Punjabi, Malayalam, Bhojpuri, Rajasthani, Bengali, Assamese & Oriya Songs for free.
    </p><p class="lead">
      Also explore new and interesting music depending on your mood or liking through our discover section and listen to curated playlists; Romantic Hits, Sad Songs, Bhangra, Devotional, Rock, Bhajans & Ghazals. You can also play Muzix Online Radio for an endless stream of your favorite genre.</p>
  </div>
</div>

